name: stem_sprouts_mobile
description: STEM Sprouts mobile app
publish_to: "none"
version: 0.0.1
environment:
  sdk: ">=2.19.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2

flutter:
  uses-material-design: true
